/* line 2, ../sass/partials/_baseClasses.scss */
input:selection, input:focus, input:hover {
  border: 0;
  outline: none;
  color: #FFF;
}
/* line 7, ../sass/partials/_baseClasses.scss */
input::-webkit-input-placeholder {
  color: #FFF;
}

/* line 11, ../sass/partials/_baseClasses.scss */
ul, li {
  list-style: none;
}

/* line 12, ../sass/partials/_baseClasses.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/partials/_baseClasses.scss */
.search-icon {
  background: url("../images/search-icon.png") no-repeat;
  display: inline-block;
  position: absolute;
  height: 38px;
  width: 38px;
}

/* line 22, ../sass/partials/_baseClasses.scss */
.response-back-arrow {
  background: url("../images/back-arrow.png") no-repeat;
  display: inline-block;
  position: absolute;
  height: 42px;
  width: 22px;
}

/* line 29, ../sass/partials/_baseClasses.scss */
.back-arrow-circle {
  background: url("../images/back-arrow-circle.png") no-repeat;
  display: inline-block;
  position: absolute;
  height: 72px;
  width: 72px;
}

/* line 36, ../sass/partials/_baseClasses.scss */
.margin_10_0 {
  margin: 10px 0;
}

/* line 39, ../sass/partials/_baseClasses.scss */
.clear {
  clear: both;
}

/* line 41, ../sass/partials/_baseClasses.scss */
.hide {
  display: none !important;
}

/* line 43, ../sass/partials/_baseClasses.scss */
.common_parent_prop, body div.parent, body div.related-movies-response-parent, body div.single-movies-response-parent {
  background: #f5ab35;
  margin: 10px auto;
  width: 800px;
}
@media (max-width: 768px) {
  /* line 43, ../sass/partials/_baseClasses.scss */
  .common_parent_prop, body div.parent, body div.related-movies-response-parent, body div.single-movies-response-parent {
    width: auto;
  }
}

/* line 52, ../sass/partials/_baseClasses.scss */
.error {
  text-align: center;
  font-size: 30px;
  opacity: 0.5;
}

/* line 6, ../sass/style.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #959595;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 12, ../sass/style.scss */
body div.parent {
  padding: 50px 0 150px 0;
  margin-top: 50px;
}
@media (max-width: 768px) {
  /* line 12, ../sass/style.scss */
  body div.parent {
    margin-top: 10px;
  }
}
/* line 20, ../sass/style.scss */
body div.parent div.header-image {
  text-align: center;
}
/* line 22, ../sass/style.scss */
body div.parent div.header-image img {
  margin: 50px auto;
  width: 50%;
}
/* line 28, ../sass/style.scss */
body div.parent div.header-text {
  background: #f7bc5d;
  padding: 40px;
  text-align: center;
  font-size: 35px;
  margin: 100px 0 50px 0;
}
/* line 36, ../sass/style.scss */
body div.parent div.search-bar-parent {
  text-align: center;
}
/* line 38, ../sass/style.scss */
body div.parent div.search-bar-parent div.search-bar-child {
  position: relative;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  /* line 38, ../sass/style.scss */
  body div.parent div.search-bar-parent div.search-bar-child {
    width: 90%;
  }
}
/* line 45, ../sass/style.scss */
body div.parent div.search-bar-parent div.search-bar-child span.search-icon {
  top: 30px;
  left: 8px;
}
/* line 49, ../sass/style.scss */
body div.parent div.search-bar-parent div.search-bar-child input {
  padding: 30px 50px;
  font-size: 32px;
  background: #f5ab35;
  border: 2px solid #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 49, ../sass/style.scss */
  body div.parent div.search-bar-parent div.search-bar-child input {
    font-size: 25px;
  }
}
/* line 71, ../sass/style.scss */
body div.parent div.information {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin: 150px 0 0 0;
}
/* line 79, ../sass/style.scss */
body div.related-movies-response-parent {
  padding: 50px 0 0 0;
}
/* line 83, ../sass/style.scss */
body div.related-movies-response-parent div.response-parent {
  position: relative;
  text-align: center;
}
/* line 86, ../sass/style.scss */
body div.related-movies-response-parent div.response-parent .response-back-arrow {
  left: 50px;
  top: 20px;
}
/* line 90, ../sass/style.scss */
body div.related-movies-response-parent div.response-parent .search-results {
  font-size: 35px;
}
/* line 93, ../sass/style.scss */
body div.related-movies-response-parent div.response-parent .search-Text {
  font-size: 30px;
  opacity: 0.7;
  text-transform: capitalize;
}
/* line 100, ../sass/style.scss */
body div.related-movies-response-parent div.movie-poster {
  background: #fff;
  padding: 5px;
}
/* line 103, ../sass/style.scss */
body div.related-movies-response-parent div.movie-poster ul {
  display: inline-block;
}
/* line 105, ../sass/style.scss */
body div.related-movies-response-parent div.movie-poster ul li {
  float: left;
  width: 49%;
  padding: 0.5% 0.5% 0 0.5%;
}
/* line 109, ../sass/style.scss */
body div.related-movies-response-parent div.movie-poster ul li img {
  width: 100%;
  max-height: 550px;
}
/* line 121, ../sass/style.scss */
body div.single-movies-response-parent .back-arrow-circle-parent {
  position: relative;
}
/* line 123, ../sass/style.scss */
body div.single-movies-response-parent .back-arrow-circle-parent .back-arrow-circle {
  top: 50px;
  left: 30px;
}
/* line 129, ../sass/style.scss */
body div.single-movies-response-parent div.Detail-image img {
  width: 100%;
}
/* line 133, ../sass/style.scss */
body div.single-movies-response-parent div.movie-name {
  padding: 30px 20px;
}
/* line 135, ../sass/style.scss */
body div.single-movies-response-parent div.movie-name .movie-name-text {
  font-size: 35px;
}
@media (max-width: 768px) {
  /* line 135, ../sass/style.scss */
  body div.single-movies-response-parent div.movie-name .movie-name-text {
    font-size: 30px;
  }
}
/* line 141, ../sass/style.scss */
body div.single-movies-response-parent div.movie-name .movie-release-year {
  font-size: 25px;
  padding: 2px;
  opacity: 0.7;
}
@media (max-width: 768px) {
  /* line 141, ../sass/style.scss */
  body div.single-movies-response-parent div.movie-name .movie-release-year {
    font-size: 20px;
  }
}
/* line 151, ../sass/style.scss */
body div.single-movies-response-parent div.movie-Detail-text {
  background: #fff;
  color: #000;
  padding: 30px;
  font-size: 30px;
  line-height: 50px;
}
@media (max-width: 768px) {
  /* line 151, ../sass/style.scss */
  body div.single-movies-response-parent div.movie-Detail-text {
    line-height: normal;
  }
}
