/* line 2, ../sass/partials/_baseClasses.scss */
input:selection, input:focus, input:hover {
  border: 0;
  outline: none;
  color: #FFF;
}
/* line 7, ../sass/partials/_baseClasses.scss */
input::-webkit-input-placeholder {
  color: #FFF;
}

/* line 11, ../sass/partials/_baseClasses.scss */
ul, li {
  list-style: none;
}

/* line 12, ../sass/partials/_baseClasses.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/partials/_baseClasses.scss */
.search-icon {
  background: url("../images/search-icon.png") no-repeat;
  display: inline-block;
  position: absolute;
  height: 38px;
  width: 38px;
}

/* line 22, ../sass/partials/_baseClasses.scss */
.margin_10_0 {
  margin: 10px 0;
}

/* line 25, ../sass/partials/_baseClasses.scss */
.clear {
  clear: both;
}

/* line 26, ../sass/partials/_baseClasses.scss */
.response-back-arrow {
  background: url("../images/back-arrow.png") no-repeat;
  display: inline-block;
  position: absolute;
  height: 42px;
  width: 22px;
}

/* line 33, ../sass/partials/_baseClasses.scss */
.back-arrow-circle {
  background: url("../images/back-arrow-circle.png") no-repeat;
  display: inline-block;
  position: absolute;
  height: 72px;
  width: 72px;
}

/* line 40, ../sass/partials/_baseClasses.scss */
.common_parent_prop, body div.parent, body div.related-movies-response-parent, body div.single-movies-response-parent {
  background: #f5ab35;
  margin: 10px auto;
  width: 850px;
}

/* line 46, ../sass/partials/_baseClasses.scss */
.error {
  text-align: center;
  font-size: 30px;
  opacity: 0.5;
}

/* line 5, ../sass/style.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #959595;
}
/* line 9, ../sass/style.scss */
body div.parent {
  padding: 50px 0 150px 0;
  margin-top: 50px;
}
/* line 14, ../sass/style.scss */
body div.parent div.header-image {
  text-align: center;
}
/* line 16, ../sass/style.scss */
body div.parent div.header-image img {
  margin: 50px auto;
  width: 50%;
}
/* line 22, ../sass/style.scss */
body div.parent div.header-text {
  background: #f7bc5d;
  padding: 40px;
  text-align: center;
  font-size: 35px;
  margin: 100px 0 50px 0;
}
/* line 30, ../sass/style.scss */
body div.parent div.search-bar-parent {
  padding: 0 21%;
}
/* line 32, ../sass/style.scss */
body div.parent div.search-bar-parent div.search-bar-child {
  position: relative;
}
/* line 34, ../sass/style.scss */
body div.parent div.search-bar-parent div.search-bar-child span.search-icon {
  top: 33px;
  left: 10px;
}
/* line 38, ../sass/style.scss */
body div.parent div.search-bar-parent div.search-bar-child input {
  padding: 30px;
  font-size: 32px;
  background: #f5ab35;
  border: 2px solid #fff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  text-align: center;
  outline: none;
  text-transform: uppercase;
}
/* line 53, ../sass/style.scss */
body div.parent div.information {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin: 150px 0 0 0;
}
/* line 61, ../sass/style.scss */
body div.related-movies-response-parent {
  padding: 50px 0 0 0;
}
/* line 65, ../sass/style.scss */
body div.related-movies-response-parent div.response-parent {
  position: relative;
  text-align: center;
}
/* line 68, ../sass/style.scss */
body div.related-movies-response-parent div.response-parent .response-back-arrow {
  left: 50px;
  top: 20px;
}
/* line 72, ../sass/style.scss */
body div.related-movies-response-parent div.response-parent .search-results {
  font-size: 35px;
}
/* line 75, ../sass/style.scss */
body div.related-movies-response-parent div.response-parent .search-Text {
  font-size: 30px;
  opacity: 0.7;
  text-transform: capitalize;
}
/* line 83, ../sass/style.scss */
body div.related-movies-response-parent div.movie-poster ul {
  background: #fff;
  display: inline-block;
  padding: 5px;
}
/* line 87, ../sass/style.scss */
body div.related-movies-response-parent div.movie-poster ul li {
  float: left;
  width: 48.80%;
  padding: 5px;
}
/* line 91, ../sass/style.scss */
body div.related-movies-response-parent div.movie-poster ul li img {
  width: 100%;
}
/* line 102, ../sass/style.scss */
body div.single-movies-response-parent .back-arrow-circle-parent {
  position: relative;
}
/* line 104, ../sass/style.scss */
body div.single-movies-response-parent .back-arrow-circle-parent .back-arrow-circle {
  top: 50px;
  left: 30px;
}
/* line 110, ../sass/style.scss */
body div.single-movies-response-parent div.Detail-image img {
  width: 100%;
}
/* line 114, ../sass/style.scss */
body div.single-movies-response-parent div.movie-name {
  padding: 30px 20px;
}
/* line 116, ../sass/style.scss */
body div.single-movies-response-parent div.movie-name .movie-name-text {
  font-size: 35px;
}
/* line 119, ../sass/style.scss */
body div.single-movies-response-parent div.movie-name .movie-release-year {
  font-size: 25px;
}
/* line 124, ../sass/style.scss */
body div.single-movies-response-parent div.movie-Detail-text {
  background: #fff;
  color: #000;
  padding: 30px;
  font-size: 30px;
  line-height: 50px;
}
